body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid; // set up a grid to line up each element easier
    width: 100%;
    height: 100vh;
    grid-template-columns: 50vw, 50vw;
    grid-template-rows: 30vh 10vh 5vh 30vh;
    grid-template-areas:
        "hd hd"
        "ML MR"
        "btn btn"
        "BL BR";
    background: lightslategray;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}

.holder {
    margin: auto;
    display: grid;
}
.headline {
    grid-area: hd;
    text-align: left;
    font-size: 100px;
}
.entry {
    background: rgba(59, 74, 107, 0.4);
    font-weight: bold;
    margin: 0px;
}
.btn {
    grid-area: btn;
    justify-content: center;
    text-align: center;
}
.location {
    grid-area: ML;
}
.date {
    grid-area: MR;
}
.pic {
    grid-area: BL;
}
.info {
    grid-area: BR;
    width: 40vw;
    height: 30vh;
}
#destination {
    // forces the picture to fit the page in a box that is dynamically controlled by the veiwer's screen size.
    width: 40vw;
    height: 30vh;
    object-fit: cover;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 5vh;
    width: 100%;
    background: #ffffff;
    color: #f0d43a;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    border: none;
}

button {
    justify-content: center;
    width: 33%;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 22px;
    font-family: "Oswald", sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1 {
    font-size: 36px;
}

textarea {
    background: #ffffff;
    color: #f0d43a;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: "Oswald", sans-serif;
}
